<div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item nav-profile">
          <a href="#" class="nav-link">
            <div class="nav">
            </div>
     
            
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dash">
            <span class="menu-title">Dashboard</span>
            
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/getproprietors?">
            <span class="menu-title">Proprietors & Vacancies </span>
       
          </a>
        </li>
              
    </nav>