<div id="abt" class="about">
    <div style="background-color: #f0f8ff;" class="about-area mt-120 pb-90 banner-1">
        <div class="container">
        <div class="row">
        <div class="col-md-6 col-md-offset-6">
        <div class="section-title mb-38 mt-31">
        <h2 class="uppercase">KNOW ABOUT <span class="text-color">Vacancy Search</span></h2>
        </div>
        <p class="23"><span class="text-dark text-uppercase">Vacancy Search</span> Helps university students to find best and affordable accomodation close to campus</p>
        <p class="34">Charity begins at home, Let us help you find the best home</p>
        </div>
        </div>
        </div>
        </div>
</div>