<div class="footer-widget-area bg-violet black-bg pb-58">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
        </div>
            <div class="col-md-12">
                <div class="social-links mt-25 mb-80">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="single-footer-widget">
                    <h3 class="text-white text-uppercase mb-21">About Us</h3>
                    <p class="pb-19">Vacancy Search Portal For HIT Students</p>
     
                </div>
            </div>
      
            <div class="col-lg-3 hidden-md hidden-sm pl-80 col-xs-12">
                <div class="single-footer-widget">
                    <h3 class="text-white text-uppercase mb-17">QUICK LINK</h3>
                    <ul class="footer-list">
             
                            <li><a href="/vacancies">Vacancies</a>
                            <li><a href="/login">Login</a>
                            <li><a href="/register">Register</a>   
                          
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="single-footer-widget pull_right">
                    <h3 class="text-white text-uppercase mb-21">CONTACT US</h3>
                    <div class="footer-contact-info mb-24">
                        <img src="images/icons/f-map.png" alt="">
                        <span class="pl-40 block">123 Ganges Ave<br>
                            Harare</span>
                    </div>
                    <div class="footer-contact-info mb-24">
                        <img src="images/icons/f-phone.png" alt="">
                        <span class="pl-40 block">Telephone : +263 774 975 876</span>
                    </div>
  
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Footer Widget-area-->
<!-- Start of Footer area -->
<footer class="footer-area bg-violet text-center pt-27 pb-32 border-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-text">
                    <span class="block">Copyright&copy; 2022 <a href="#">Vacancy Search</a>. All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End of Footer area -->
</div> 