<div id="abt" class="about">
    <div style="background-image: url('../images/banner/hiw.png');background-color: #f0f8ff;" class="about-area mt-120 pb-90 banner-1">
        <div class="container">
        <div class="row">
        <div class="col-md-6 col-md-offset-6">
        <div class="section-title mb-38 mt-31">
        <h2 class="uppercase">How It Works<span class="text-color"></span></h2>
        </div>
        <p class="23"><span class="text-dark text-uppercase">Procedure</span></p>
        <p class="34">
            1. Search For Desired Vacant <br>
            2. Apply <br>
            3. Pay <br>

        </p>
        </div>
        </div>
        </div>
        </div>
        <br><br><br><br><br>
</div>