<form action="/search" method="post">

    <div class="fields">


        <input type="text" name="gender" id="gender" placeholder="Male/Female">
        <input type="text" name="maxPrice" id="maxPrice" placeholder="Budget">

    </div>


    <button style="float:left;" class="button search_price lemon mr-6">Search</button>
    <br>

   

</form>