<div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item nav-profile">
          <a href="#" class="nav-link">
            <div class="nav-profile-image">
              <img src="/pic.png" alt="profile">
              <span class="login-status online"></span>
            </div>
            <div class="nav-profile-text d-flex flex-column">
              <span class="text-secondary text-small">Admin</span>
            </div>
            
          </a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="/">
            <span class="menu-title">Dashboard</span>
            <i class="mdi mdi-home menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#loginpages" aria-expanded="false" aria-controls="general-pages">
            <span class="menu-title">Login</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="loginpages">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/prop"> Proprietor Login</a></li>
              <li class="nav-item"> <a class="nav-link" href="stud"> Student Login</a></li>
            </ul>
          </div>
        </li>

       

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#registrationpages" aria-expanded="false" aria-controls="general-pages">
            <span class="menu-title">Register</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="registrationpages">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/propreg"> Proprietor Registration</a></li>
              <li class="nav-item"> <a class="nav-link" href="studreg"> Student Registration </a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/vacancies">
            <span class="menu-title">Vacancies</span>
            <i class="mdi mdi-chart-bar menu-icon"></i>
          </a>
        </li>
         
    </nav>