<div class="background-area bg-overlay-pattern">	
    <img src="images/slider.jpg" alt="" title="#slider-1-caption1"/>
    <div class="banner-content static-text">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <div class="text-content-wrapper">
    <div class="text-content text-center">
    <h1 class="title1 cd-headline clip is-full-width text-uppercase text-white mb-15">Vacancy Search
    <span class="cd-words-wrapper">
    <b class="is-visible">Helps You Find</b>
    <b>Best Residence</b>
    <b>Affordably</b>
    </span>
    </h1>
    <div class="banner-readmore mt-37">
    <a class="button slider-btn lemon" href="#image">More</a>	                
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>