    <div class="wrapper bg-white fix">
     <div class="bg-white">
    <header class="header-area">
    <div class="header-top bg-violet">
    <div class="container">
    <div class="row">
    <div class="col-lg-7 col-md-6 col-sm-6 hidden-xs">
    <div class="header-top-info">
    <img src="images/icons/h-phone.png" alt="">
    <span class="ml-8">+263 774 975 876</span>
    </div>
    <div class="header-top-info">
    <img src="images/icons/h-envelope.png" alt="">
    <span class="ml-8">info@vacancysearch.co.zw</span>
    </div>
    </div>
    </div>
    </div>
    </div>