
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>About</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">	
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800" rel="stylesheet"> 		
        <link rel="stylesheet" href="css/bootstrap.min.css"> 
        <link rel="stylesheet" href="css/core.css">
        <link rel="stylesheet" href="css/shortcode/shortcodes.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/responsive.css">  
        <link rel="stylesheet" href="css/style-customizer.css">
    	<link href="#" data-style="styles" rel="stylesheet">  
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>    
    </head>  
    <body>
        
        <!--Header-->
                        <!--Start of topbar-->
                        <%- include('./partials/home/topbar.ejs') %>
                        <!--End of topbar-->
                                     
                        <!--Start of Header-->
                        <%- include('./partials/home/menu.ejs') %>
                        <!--End of Header-->
        <!--Header end-->

                <!--Start of Banner Area-->
                <div class="banner-area bg-2 bg-overlay-2 ptb-165">
                	<div class="container">
                		<div class="row">
                			<div class="col-md-12">
                				<div class="banner-title text-center">
                					<h1 class="text-uppercase text-white">ABOUT US</h1>
                				</div>
                			</div>
                		</div>
                	</div>
                </div>
                <!--End of Banner Area-->
               

                <!--Start of About Property Area-->
           
                		<div class="row">
                			<div class="col-md-5">
                				<div class="about-text pt-60">
                					<h4 class="uppercase mb-18">WE aRE EXPERT</h4>
                					<p class="pr-48">Here is the best theme for  elit, sed do eiuod tempor dolor sit amet, conse ctetur adigont, sed do eiusmod tempor incidu  nt ut abore et lorna aliquatd minim veniam, quis ntruon orissi ut aliquip ex ea comm conse ctetur adigont, sed do eiusmod tempor incidunt ut abore et lorna aliquatd minim veniam, </p>
                				</div>
                			</div>
                			<div class="col-md-7">
                				<div class="row">
									<div class="col-md-6 pl-0">
										<div class="about-text pt-60">
											<h4 class="uppercase mb-18">OUR MISSION</h4>
											<p>Here is the best theme for  elit, sed do eiuod te mpor dolor sit amet, conse ctetur adigont, sed do eiusmod tempor incididunt ut abore etlee lorna aliquatd minim veniam, quis ntruon oris nisi ut aliquip ex ea comm</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="about-text pt-60">
											<h4 class="uppercase mb-18">OUR VISSION</h4>
											<p>Here is the best theme for  elit, sed do eiuod te mpor dolor sit amet, conse ctetur adigont, sed do eiusmod tempor incididunt ut abore etlee lorna aliquatd minim veniam, quis ntruon oris nisi ut aliquip ex ea comm</p>
										</div>
									</div>
                				</div>	
                			</div>	
                		</div>
                	</div>
                </div>
                <!--End of About Property Area-->

                <!--Start of Service Area-->
                <div class="service-area pb-120 pt-65">
                	<div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title mb-38 mt-31 text-center">
                                    <span class="opacity-text text-uppercase center">OUR SERVICES</span>
                                    <h2 class="uppercase mb-20">OUR SERVICES</h2>
                                    <p class="pb-19">DOM-INNO is the best theme for  elit, sed do eiusmod tempor dolor sit amet, conse ctetur adipiscing elit, sed<br> do eiusmod tempor incididunt ut labore et lorna aliquatd minim veniam, quis nostrud exercitation oris</p>
                                </div>
                            </div>
                        </div>
                		<div class="row">
                			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                				<div class="single-service pull_left hover-effect-one">
                					<div class="single-service-image pull_left mr-20">
                						<a class="block white-hover" href="properties-details.html"><img src="images/service/1-s.jpg" alt=""></a>
                					</div>
                					<div class="single-service-text fix">
                						<h4 class="mb-14"><a href="properties-details.html">Sale Property</a></h4>
                						<p class="mr-10">Property sale best eme for litdo eiusmod orlor sit amet, conse teturg eiusmo custom </p>
                					</div>
                				</div>
                			</div>
                			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                				<div class="single-service hover-effect-one">
                					<div class="single-service-image pull_left mr-20">
                						<a class="block white-hover" href="properties-details.html"><img src="images/service/2-s.jpg" alt=""></a>
                					</div>
                					<div class="single-service-text fix">
                						<h4 class="mb-14"><a href="properties-details.html">Buy Property</a></h4>
                						<p class="mr-10">Property sale best eme for litdo eiusmod orlor sit amet, conse teturg eiusmo custom </p>
                					</div>
                				</div>
                			</div>
                			<div class="col-lg-4 hidden-md hidden-sm col-xs-12">
                				<div class="single-service pull_right hover-effect-one">
                					<div class="single-service-image pull_left mr-20">
                						<a class="block white-hover" href="properties-details.html"><img src="images/service/3-s.jpg" alt=""></a>
                					</div>
                					<div class="single-service-text fix">
                						<h4 class="mb-14"><a href="properties-details.html">Rent Property</a></h4>
                						<p class="mr-10">Property sale best eme for litdo eiusmod orlor sit amet, conse teturg eiusmo custom </p>
                					</div>
                				</div>
                			</div>
                		</div>
                	</div>
                </div>
                <!--End of Service Area-->
                

                <!--Start of Team Area-->
                <div class="team-area pt-100 pb-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title mb-55 mt-31 text-center">
                                    <span class="opacity-text text-uppercase center">Team</span>
                                    <h2 class="uppercase mb-25">Meet Our Team</h2>
                                    <p class="pb-15">DOM-INNO is the best theme for  elit, sed do eiusmod tempor dolor sit amet, conse ctetur adipiscing elit, sed<br> do eiusmod tempor incididunt ut labore et lorna aliquatd minim veniam, quis nostrud exercitation oris</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
							<div class="col-md-3 col-sm-4">
								<div class="single-team-member">
									<div class="member-image">
										<a href="agent-details.html" class="block">
											<img src="images/team/1.png" alt="">
										</a>
										<div class="link-effect">
											<ul>
												<li>
													<a href="#" class="block p-img"><img src="images/icons/phone.png" alt=""></a>
													<a href="#" class="block s-img"><img src="images/icons/phone-hover.png" alt=""></a>
												</li>
												<li>
													<a href="#" class="block p-img"><img src="images/icons/facebook.png" alt=""></a>
													<a href="#" class="block s-img"><img src="images/icons/facebook-hover.png" alt=""></a>
												</li>
												<li>
													<a href="#" class="block p-img"><img src="images/icons/twitter.png" alt=""></a>
													<a href="#" class="block s-img"><img src="images/icons/twitter-hover.png" alt=""></a>
												</li>
												<li>
													<a href="#" class="block p-img"><img src="images/icons/g-plus.png" alt=""></a>
													<a href="#" class="block s-img"><img src="images/icons/g-plus-hover.png" alt=""></a>
												</li>
											</ul>
										</div>
									</div>
									<div class="member-text text-center bg-violet pt-14 pb-18">
										<h3 class="mb-5"><a href="agent-details.html">Sir William Thomson</a></h3>
										<span>Real Estate Agent</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4">
								<div class="single-team-member">
									<div class="member-image">
										<a href="agent-details.html" class="block">
											<img src="images/team/2.png" alt="">
										</a>
										<div class="link-effect">
											<ul>
												<li>
													<a href="#" class="block p-img"><img src="images/icons/phone.png" alt=""></a>
													<a href="#" class="block s-img"><img src="images/icons/phone-hover.png" alt=""></a>
												</li>
												<li>
													<a href="#" class="block p-img"><img src="images/icons/facebook.png" alt=""></a>
													<a href="#" class="block s-img"><img src="images/icons/facebook-hover.png" alt=""></a>
												</li>
												<li>
													<a href="#" class="block p-img"><img src="images/icons/twitter.png" alt=""></a>
													<a href="#" class="block s-img"><img src="images/icons/twitter-hover.png" alt=""></a>
												</li>
												<li>
													<a href="#" class="block p-img"><img src="images/icons/g-plus.png" alt=""></a>
													<a href="#" class="block s-img"><img src="images/icons/g-plus-hover.png" alt=""></a>
												</li>
											</ul>
										</div>
									</div>
									<div class="member-text text-center bg-violet pt-14 pb-18">
										<h3 class="mb-5"><a href="agent-details.html">Zacquline Farnandez</a></h3>
										<span>Real Estate Agent</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4">
								<div class="single-team-member">
									<div class="member-image">
										<a href="agent-details.html" class="block">
											<img src="images/team/3.png" alt="">
										</a>
										<div class="link-effect">
											<ul>
												<li>
													<a href="#" class="block p-img"><img src="images/icons/phone.png" alt=""></a>
													<a href="#" class="block s-img"><img src="images/icons/phone-hover.png" alt=""></a>
												</li>
												<li>
													<a href="#" class="block p-img"><img src="images/icons/facebook.png" alt=""></a>
													<a href="#" class="block s-img"><img src="images/icons/facebook-hover.png" alt=""></a>
												</li>
												<li>
													<a href="#" class="block p-img"><img src="images/icons/twitter.png" alt=""></a>
													<a href="#" class="block s-img"><img src="images/icons/twitter-hover.png" alt=""></a>
												</li>
												<li>
													<a href="#" class="block p-img"><img src="images/icons/g-plus.png" alt=""></a>
													<a href="#" class="block s-img"><img src="images/icons/g-plus-hover.png" alt=""></a>
												</li>
											</ul>
										</div>
									</div>
									<div class="member-text text-center bg-violet pt-14 pb-18">
										<h3 class="mb-5"><a href="agent-details.html">Alfred Zackson</a></h3>
										<span>Real Estate Agent</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 hidden-sm">
								<div class="single-team-member">
									<div class="member-image">
										<a href="agent-details.html" class="block">
											<img src="images/team/4.png" alt="">
										</a>
										<div class="link-effect">
											<ul>
												<li>
													<a href="#" class="block p-img"><img src="images/icons/phone.png" alt=""></a>
													<a href="#" class="block s-img"><img src="images/icons/phone-hover.png" alt=""></a>
												</li>
												<li>
													<a href="#" class="block p-img"><img src="images/icons/facebook.png" alt=""></a>
													<a href="#" class="block s-img"><img src="images/icons/facebook-hover.png" alt=""></a>
												</li>
												<li>
													<a href="#" class="block p-img"><img src="images/icons/twitter.png" alt=""></a>
													<a href="#" class="block s-img"><img src="images/icons/twitter-hover.png" alt=""></a>
												</li>
												<li>
													<a href="#" class="block p-img"><img src="images/icons/g-plus.png" alt=""></a>
													<a href="#" class="block s-img"><img src="images/icons/g-plus-hover.png" alt=""></a>
												</li>
											</ul>
										</div>
									</div>
									<div class="member-text text-center bg-violet pt-14 pb-18">
										<h3 class="mb-5"><a href="agent-details.html">Neha Jhograitta</a></h3>
										<span>Real Estate Agent</span>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
                <!--End of Team Area-->
          
            <!--Footer-->
            <%- include('./partials/home/footer') %>
            <!--Footer end-->
        </div>    
	
        <script src="js/vendor/jquery-1.12.4.min.js"></script>		
        <script src="js/bootstrap.min.js"></script>	
        <script src="js/owl.carousel.min.js"></script>    
		<script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
		<script src="lib/nivo-slider/home.js" type="text/javascript"></script>	
        <script src="js/waypoints.min.js"></script>		
        <script src="js/jquery.mb.YTPlayer.js"></script>		
        <script src="js/ajax-mail.js"></script>			
        <script src="js/jquery.ajaxchimp.min.js"></script>		
        <script src="js/slick.min.js"></script>	
        <script src="js/style-customizer.js"></script>	
        <script src="js/plugins.js"></script>	
        <script src="js/main.js"></script>
        
    </body>
</html>