<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendor.bundle.base.css">
    <link rel="stylesheet" href="/style1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Vacant</title>
</head>
<body>

    <%- include('./partials/prop/nav.ejs') %>

    <%- include('./partials/prop/sidebar.ejs') %>

    <%- include('./partials/prop/addvac.ejs') %>


    
</body>
<script src="/vendor.bundle.base.js"></script>
<script src="/Chart.min.js"></script>
<script src="/jquery.cookie.js" type="text/javascript"></script>
<script src="/off-canvas.js"></script>
<script src="/hoverable-collapse.js"></script>
<script src="/misc.js"></script>
<script src="/dashboard.js"></script>
<script src="/todolist.js"></script>
</html>