<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendor.bundle.base.css">
    <link rel="stylesheet" href="/style1.css">

  </head>

  <body>
   
      <!--Navbar partial-------------------------------------------------------------------------------------->

     <%- include('./partials/student/nav.ejs') %>

      <!--Sidebar partial ------------------------------------------------------------------------------------>
     
     <%- include('./partials/student/sidebar.ejs') %>

     <!--Dashboard partial ------------------------------------------------------------------------------->
        
     <%- include('./partials/student/dash.ejs') %>
         
     <!--Footer partial--------------------------------------------------------------------------------->

     <%- include('./partials/student/footer.ejs') %>
          
     </div>
     </div>
     </div>


    <!--JS SCRIPTS-->
 
    <script src="/vendor.bundle.base.js"></script>
    <script src="/Chart.min.js"></script>
    <script src="/jquery.cookie.js" type="text/javascript"></script>
    <script src="/off-canvas.js"></script>
    <script src="/hoverable-collapse.js"></script>
    <script src="/misc.js"></script>
    <script src="/dashboard.js"></script>
    <script src="/todolist.js"></script>
  
  </body>
</html>