<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendor.bundle.base.css">
    <link rel="stylesheet" href="/style1.css">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>

    <!--NAV-->

    <%- include('./partials/nav.ejs') %>

    <!--Sidebar-->

    <%- include('./partials/sidebar.ejs')%>

    <!--Students Table-->
        
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Students</h4>
          <table class="table table-hover">
            <thead>
              <tr>
                <td>Student Name</td>
                <td>Email</td>
              </tr>
            </thead>
            <tbody>
                <% if(stud.length>0) {%>
                    <% stud.forEach(stud=>{ %>             
    
                        <tr>
                            <td><%=stud.fullname%></td>
                            <td><%=stud.email%></td>
                        </tr>                
    
                   <% })%>
    
                   <%}%>
              
            </tbody>
          </table>
        </div>
      </div>
    
    
    
</body>

 <!--JS SCRIPTS-->
 
 <script src="/vendor.bundle.base.js"></script>
 <script src="/Chart.min.js"></script>
 <script src="/jquery.cookie.js" type="text/javascript"></script>
 <script src="/off-canvas.js"></script>
 <script src="/hoverable-collapse.js"></script>
 <script src="/misc.js"></script>
 <script src="/dashboard.js"></script>
 <script src="/todolist.js"></script>
</html>