<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">
          <span class="page-title-icon bg-gradient-primary text-white me-2">
      
          </span> Dashboard
        </h3>
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
              <span></span>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row">
        <div class="col-md-4 stretch-card grid-margin">
          <div class="card bg-gradient-danger card-img-holder text-white">

            <div class="card-body">
              <h4 class="font-weight-normal mb-3">Applications</h4>
              <h2 class="mb-5"></h2>
            </div>
          </div>
        </div>


        <div class="col-md-4 stretch-card grid-margin">
          <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body">
              <h4 class="font-weight-normal mb-3">Offers</h4>
              <h2 class="mb-5"></h2>
            </div>
          </div>
        </div>


            </div>
          </div>
        </div>
      </div>

      