<div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item nav-profile">

            <div class="nav-profile-image">
              <img style="height:50px;height:30px;" src="logo_new.png" alt="logo">
   
            </div>
            <div class="nav-profile-text d-flex flex-column">
              <span class="text-secondary text-small"></span>
            </div>
            
          </a>
        </li>
  
          <a class="nav-link" href="/studentdash">
            <span class="menu-title">Dashboard</span>
         
          </a>
        </li>


      
          <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <span style="float: left;" class="menu-title">Vacancy Offers</span>
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
             <a class="nav-link" href="/offers">View</a></li>
            </ul>
          </div>
        </li>



        
        <li>
          <a class="nav-link" data-bs-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
            <span class="menu-title">Applications</span>
          </a>
          <div class="collapse" id="general-pages">
            <ul class="nav flex-column sub-menu">
         <a class="nav-link" href="/myApplications">View</a></li>
        </li>

        

                 
    </nav>